@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #f6f6f6;
  font-family: "Lato", sans-serif;
}
body #root > header {
  background: #111;
  color: white;
  font-size: 1.5rem; /* 24px */
  padding: 1.25rem 0; /* 20px */
  display: flex;
  justify-content: center;
}
body #root > main {
  background: #fff;
  padding: 0 1.875rem 1.875rem; /* 0 30px 30px */
}
body #root > main .page-title {
  font-size: 2.5rem; /* 40px */
  padding: 3.125rem 0; /* 50px */
  text-align: center;
}
body #root > main .content {
  display: flex;
}
body #root > main .content section {
  flex: 1;
}
body #root > main .content aside {
  min-width: 15.625rem; /* 250px */
}

button {
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table thead tr {
  border-bottom: 0.1875rem solid #eee; /* 3px */
}
table thead tr th {
  text-align: left;
  padding-bottom: 0.625rem; /* 10px */
  text-transform: uppercase;
  color: #666;
}
table tbody tr {
  border-bottom: 0.1875rem solid #eee; /* 3px */
}
table tbody tr:last-child {
  border: 0;
}
table tbody tr td {
  padding: 1.875rem 0; /* 30px */
}

.product {
  display: flex;
  align-items: center;
}
.product img {
  border-radius: 0.375rem; /* 6px */
}
.product .info {
  margin-left: 1.25rem; /* 20px */
}
.product .info .name {
  font-size: 1.25rem; /* 20px */
  margin-bottom: 0.625rem; /* 10px */
}
.product .info .category {
  color: #666;
}

.qty {
  background: #eee;
  display: inline-flex;
  padding: 0 0;
  justify-content: space-around;
  align-items: center;
  min-width: 3.75rem; /* 60px */
  border-radius: 1.25rem; /* 20px */
  overflow: hidden;
  height: 1.875rem; /* 30px */
}
.qty span {
  margin: 0 0.625rem; /* 10px */
}
.qty button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  padding: 0 0.625rem; /* 10px */
  font-size: 1.25rem; /* 20px */
  height: 100%;
}
.qty button:hover {
  background: #ddd;
}

.remove {
  background: #eee;
  border: 0;
  width: 1.875rem; /* 30px */
  height: 1.875rem; /* 30px */
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem; /* 20px */
}
.remove:hover {
  background: #ddd;
}

aside {
  margin-left: 1.875rem; /* 30px */
}
aside .box {
  margin-bottom: 0.9375rem; /* 15px */
  border: 0.0625rem solid #ccc; /* 1px */
  background: #eee;
  color: #222;
}
aside .box header {
  padding: 0.9375rem 1.25rem; /* 15px 20px */
  font-size: 1.125rem; /* 18px */
  border-bottom: 0.0625rem solid #ccc; /* 1px */
}
aside .box .info {
  padding: 1.25rem; /* 20px */
  font-size: 1rem; /* 16px */
}
aside .box .info > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.625rem; /* 10px */
  color: #555;
}
aside .box .info > div:last-child {
  margin: 0;
}
aside .box .info button {
  color: #28a745;
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
  font-size: 1rem; /* 16px */
}
aside .box footer {
  padding: 0.9375rem 1.25rem; /* 15px 20px */
  background: #ddd;
  font-size: 1.125rem; /* 18px */
  display: flex;
  justify-content: space-between;
}
aside > button {
  border: 0;
  padding: 0.9375rem 0; /* 15px 0 */
  color: white;
  background: #28a745;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.0625rem; /* 1px */
  font-size: 1rem; /* 16px */
}
aside > button:hover {
  background: #3bc55b;
}/*# sourceMappingURL=style.css.map */